<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.christosc.teawithturing"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name_short"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.christosc.teawithturing.StoryList"
            android:label="@string/app_name_short" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.christosc.teawithturing.Story"
            android:label="@string/app_name"
            android:parentActivityName=".StoryList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StoryList" />
        </activity>
        <activity
            android:name=".storyScan.StoryScanActivity"
            android:label="@string/action_scan"
            android:parentActivityName=".StoryList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StoryList" />
        </activity>
        <provider
            android:authorities="com.christosc.teawithturing.data.StoriesProvider"
            android:multiprocess="true"
            android:name="com.christosc.teawithturing.data.StoriesProvider" />
    </application>

</manifest>
